<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel='stylesheet' type='text/css' href='/css/jass.css' />
        <link rel="stylesheet" href="/css/style.css">
        <title>RecipeShare</title>
    </head>

    <body>
        <header>
            <a href="/" class="logo">RecipeShare</a>
            <div>
                <a href="/profile" class="button-nav">Profile</a>
            {{#if loggedIn}}
                <a id="logout" href="#" class="button-nav">Logout</a>
              {{!-- <button id="logout" class="btn-no-style">Logout</button> --}}
            {{else}}
                <a href="/login" class="button-nav">Log In</a>
            {{/if}}
            </div>
        </header>
        <main>
          {{{body}}}
        </main>
        {{#if loggedIn}}
          <script src="/js/logout.js"></script>
        {{/if}}
    </body>
</html>